@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.purple {
  text-decoration: none;
  color: rgb(213, 133, 245);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(278, 71%, 57%, 0.2);
  }
}


  body {
    display: flex;
    background-color:aqua;
  }

  #app {
    padding: 0 0;
  }

  header {
    line-height: 1.5;
    
  }
  
  
  @media (min-width: 1024px) {
    header {
      display: flex;
      place-items: center;
      padding-right: calc(var(--section-gap) / 2);
      
    }
  
    .logo {
      margin: 0 1rem 1rem 1rem;
      display: block;
    }

    .butterfly {
      margin: 0 1rem 1rem 1rem;
    }
  
    header .wrapper {
      display: flex;
      place-items: flex-start;
      flex-wrap: wrap;
      margin-left: 2rem 0;
    }
  }
  
 
  
  /* flexbox container */
  .containerBox {
      display:flex;
      flex-wrap:wrap;
  }
  
  .containerBox > * {
      width:100%;
      padding:0;
  }
  
  
  .containerBox > .header {
    background:#d3a3d0;
    height:100px;
  }
  .containerBox > .header {order:-2; /* header first */}
  
  .containerBox > .main-content {
      background:#faf4fc;
      min-height: 87vh;
  }
  .containerBox > .main-content {width:calc(100% - 185px);}
  
  .containerBox > .left-sidebar {background:#faf4fc}
  .containerBox > .left-sidebar { 
      order:-1; /* left sidebar before main content */ 
      width: 185px;;
  }
  
  .containerBox > .footer {background:#c1bdc2;height:100px;}